* {
    font-family: "Inter", serif;
}

body {
    background-color: #121212;
}

p {
    color: white;
    font-weight: 700;
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -120%);
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 20px;
}