* {
    font-family: "Roboto", sans-serif;
}

.txtnstuff {
    text-align: center;
}

.txtnstuff p {
    color: hsl(75, 94%, 57%);
    padding-bottom: 20px;
}

.parent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 12%);
    padding: 35px;
    border-radius: 15px;
}

body {
    background-color: hsl(0, 0%, 8%);
}

img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    color: white;
    background-color: hsl(0, 0%, 20%);
    width: 350px;
    height: 50px;
    border: 0 none;
    border-radius: 9px;
    font-weight: 700;
    font-size: 16px;
}

h1 {
    color: white;
}